<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>OnfleetDriver</string>
	<key>CFBundleIdentifier</key>
	<string>com.onfleet.driver.sdk</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>OnfleetDriver</string>
	<key>CFBundleShortVersionString</key>
	<string>0.47</string>
	<key>CFBundleVersion</key>
	<string>0</string>
	<key>OnfleetAPIURL</key>
	<dict>
		<key>localhost</key>
		<string>http://localhost:3000</string>
		<key>production</key>
		<string>https://onfleet.com/api</string>
		<key>staging</key>
		<string>https://stable1.onfleet.com/api</string>
	</dict>
	<key>OnfleetWebsocketsURL</key>
	<dict>
		<key>localhost</key>
		<string>ws://localhost:3001</string>
		<key>production</key>
		<string>wss://onfleet.com/stream</string>
		<key>staging</key>
		<string>wss://stable1.onfleet.com/stream</string>
	</dict>
</dict>
</plist>
